html {
    scrollbar-width: none;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.blank {
    top: 0;
    left: 0;
    width: 100vw;
    height: 10000px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 0vh;
    background: rgb(0, 255, 170);
}

#section1 {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 0;
    font-size: 0vh;
    background: rgb(0, 195, 255);
}

#section2 {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 0;
    font-size: 0vh;
    background: rgb(0, 119, 255);
}

#section3 {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 0;
    font-size: 0vh;
    background: rgb(54, 99, 150);
}

#path {
    position: relative;
    max-width: 400px;
    margin: auto;
}

.step {
    position: relative;
    width: 100%;
    width: calc(100% - 20px);
    margin-left: 20px;
    background: #ecf0f1;
    margin-bottom: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    height: 0;
    display: none;
}

.step::before {
    content: "";
    height: calc(100% + 20px);
    width: 5px;
    background: #ecf0f1;
    position: absolute;
    top: -10px;
    left: -20px;
}

.step::after {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ecf0f1;
    position: absolute;
    top: -10px;
    left: -25px;
}

.step p {
    font-size: 3vh;
    margin: 0;
}

.step #steptitle {
    font-size: 5vh;
    font-weight: 700;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}
  
input[type="range"]::-webkit-slider-thumb {
    display: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
  
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.flex_section {
    display: flex;
}

h2 {
    font-size: 5vh;
    text-align: center;
}

#competence_section1 {
    opacity: 0;
}

#competence_section2 {
    opacity: 0;
}

.competence {
    margin: 10px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section3 .label {
    font-size: 3vh;
    margin: 10px;
    width: 70px;
}

#number {
    font-size: 3vh;
}